* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}


#container {
    height: 100vh;
}


#nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-inline: auto;
}

#nav_elements {
    display: flex;
}

#logo {
    height: 7vh;
}

.links {
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
}

.links:hover {
    color: rgb(255, 102, 0)
}

#link_container {
    display: flex;
    align-items: center;
}

.button {
    margin-left: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: white;
}

.black_bg {
    background-color: black;
    color: white;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-bottom: 60px;
    align-items: center;
    height: 100%;
    text-align: center;
}

#title {
    width: 700px;
    font-size: 90px;
    text-align: center;
}

h4 {
    margin-top: 20px;
}

#hero_button {
    font-size: 25px;
    padding: 20px 30px;
}

#banner {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(0, 0, 0, 0.8);
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

span {
    background-color: black;
    color: white;
    padding: 13px 17px;
    border-radius: 10px;
    font-weight: bold;
    margin-inline: 2px;
}

#top_numbers {
    margin-top: 15px;
    animation: bounce 1s infinite;

}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}